.status-bar, button {
  display: table;
  margin: 40px auto;
  margin-top: 48px;
  padding: 18px;
  background-color: #415A89;
  border-radius: 10px;
  margin-bottom: 25px;
}

.status-bar p, button, #score-field p {
  font-size: 20px;
  text-align: center;
}

.status-bar p, #score-field p{
  font-weight: 800;
}

.status-bar p {
  color: #fff;
}

#score-field p {
  margin: 10 auto;
}

button {
  font-weight: 600;
  cursor: pointer;
}

button:focus {
  outline: 0;
}

#reset {
  background-color: #fff;
  padding: 14px 36px;
  margin-top: 25px;
  margin-bottom: 40px;
  border: 2px solid red;
  transition: 0.2s;
}

#reset:hover {
  background-color: #f00;
  color: #fff;
  box-shadow: 3px 8px 10px #666
}

#reset span {
  display: inline-block;
  position: relative;
}

#reset span:after {
  content: '!';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -4px;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
  transition: right .15s ease-in-out;
  -moz-transition: right .15s ease-in-out;
  -webkit-transition: right .15s ease-in-out;

}

#reset:hover span {
  padding-right: 7px;
}

#reset:hover span:after {
  opacity: 1;
  right: 0;
}

#reset:active {
  background-color: #f00;
  color: #fff;
  box-shadow: 3px 4px 10px #666;
  transform: translateY(4px);
}

.board {
  margin: 0 auto;
  text-align: center;
}

.card {
  display: inline-block;
  height: 210px;
  width: 150px;
  border: 3px solid #172D53;
  border-radius: 10px;
  background-color: #fff;
  margin: 20px;
  cursor: pointer;
}

.card span {
  visibility: hidden;
  display: block;
  margin: 3px;
  text-transform: capitalize;
}

span.visible {
  visibility: visible;
}

.rotate {
  transform: rotate(180deg);
  position: relative;
  top: 169px;
}

.back {
  background-image: url('../img/back.png');
}

.queen-red, .king-red {
  color: #DA0003;
}

.queen-black, .king-black {
  color: #000;
}

.queen-red {
  background: url('../img/queen-red.png') no-repeat center center;
}

.queen-black {
  background: url('../img/queen-black.png') no-repeat center center;
}

.king-red {
  background: url('../img/king-red.png') no-repeat center center;
}

.king-black {
  background: url('../img/king-black.png') no-repeat center center;
}
