.status-bar {
  display: table;
  margin: 40px auto;
  margin-top: 48px;
  padding: 18px;
  background-color: #415A89;
  border-radius: 10px;
  margin-bottom: 25px;
}

.status-bar p{
  text-align: center;
  color: #fff;
}

#reset {
  background-color: #f00;
  padding: 18px 36px;
  margin-top: 25px;
  margin-bottom: 40px;
}

.board {
  margin: 0 auto;
  text-align: center;
}

.card {
  display: inline-block;
  height: 210px;
  width: 150px;
  border: 3px solid #172D53;
  border-radius: 10px;
  background-color: #fff;
  margin: 20px;
}

.back {
  background-image: url('../img/back.png');
}

.queen-red {
  background: url('../img/queen-red.png') no-repeat center center;
  /*content: "Queen";
  color: #DA0003;*/
}

.queen-black {
  background: url('../img/queen-black.png') no-repeat center center;
  /*content: "Queen";
  color: #000;*/
}

.king-red {
  background: url('../img/king-red.png') no-repeat center center;
  /*content: "King";
  color: #DA0003;*/
}

.king-black {
  background: url('../img/king-black.png') no-repeat center center;
  /*content: "King";
  color: #000;*/
}
