.status-bar, button {
  display: table;
  margin: 40px auto;
  margin-top: 48px;
  padding: 18px;
  background-color: #415A89;
  border-radius: 10px;
  margin-bottom: 25px;
}

.status-bar p, button, #score-field p {
  font-size: 20px;
  text-align: center;
}

.status-bar p, #score-field p {
  font-weight: 800;
}

.status-bar p {
  color: #fff;
}

#score-field {
  text-align: center;
}

#score-field p {
  display: table;
  margin: 20px auto;
  padding: 5px 10px;
  border: 3px solid #415A89;
  border-radius: 20px;
}

button {
  font-weight: 600;
  cursor: pointer;
}

button:focus {
  outline: 0;
}

#reset {
  background-color: #fff;
  width: 128px;
  padding: 14px 36px;
  margin-top: 32px;
  margin-bottom: 40px;
  border: 3px solid red;
  transition: 0.2s;
}

#reset:hover {
  background-color: #f00;
  color: #fff;
  box-shadow: 3px 8px 10px #666
}

#reset span {
  display: inline-block;
  position: relative;
  right: 0px;
  transition: right .2s ease-in-out;
  -moz-transition: right .2s ease-in-out;
  -webkit-transition: right .2s ease-in-out;
}

#reset span:after {
  content: '!';
  color: #fff;
  border: 2px solid #fff;
  border-radius: 200px;
  padding: 0 13;
  font-size: 30px;
  position: absolute;
  opacity: 0;
  top: -7px;
  right: 6px;
  transition: right .2s ease-in-out;
  -moz-transition: right .2s ease-in-out;
  -webkit-transition: right .2s ease-in-out;
}

#reset:hover span {
  padding-right: 48px;
  right: 24px;
}

#reset:hover span:after {
  -webkit-animation: fadeinicon .2s;
  -moz-animation: fadeinicon .2s;
  -ms-animation: fadeinicon .2s;
  -o-animation: fadeinicon .2s;
  animation: fadeinicon .2s;
  opacity: 1;
  right: 0;
}

@keyframes fadeinicon {
  0% { opacity: 0; }
  35% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeinicon {
  0% { opacity: 0; }
  35% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeinicon {
  0% { opacity: 0; }
  35% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeinicon {
  0% { opacity: 0; }
  35% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadein {
  0% { opacity: 0; }
  35% { opacity: 0; }
  100% { opacity: 1; }
}

#reset:active {
  background-color: #f00;
  color: #fff;
  box-shadow: 3px 4px 10px #666;
  transform: translateY(4px);
}

.board {
  margin: 0 auto;
  text-align: center;
}

.card {
  display: inline-block;
  height: 210px;
  width: 150px;
  border: 3px solid #172D53;
  border-radius: 10px;
  background-color: #fff;
  margin: 20px;
  transition: 0.2s;
}

.card span {
  visibility: hidden;
  display: block;
  margin: 3px;
  font-weight: 800;
  text-transform: capitalize;
}

.card span, .status-bar p, #score-field p {
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

span.visible {
  visibility: visible;
  -webkit-animation: fadein .7s;
  -moz-animation: fadein .7s;
  -ms-animation: fadein .7s;
  -o-animation: fadein .7s;
  animation: fadein .7s;
}

.rotate {
  transform: rotate(180deg);
  position: relative;
  top: 169px;
}

.back {
  background-image: url('../img/back.png');
  cursor: pointer;
  -webkit-animation: fadein 1.25s;
  -moz-animation: fadein 1.25s;
  -ms-animation: fadein 1.25s;
  -o-animation: fadein 1.25s;
  animation: fadein 1.25s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.card:hover {
  box-shadow: 2px 3px 10px #999;
}

.back:hover, .back:active {
  box-shadow: 3px 4px 10px #666;
}

.deselect {
  cursor: default;
}

[class$="red"] {
  color: #DA0003;
}

[class$="black"] {
  color: #000;
}

.queen-red {
  background: url('../img/queen-red.png') no-repeat center center;
}

.queen-black {
  background: url('../img/queen-black.png') no-repeat center center;
}

.king-red {
  background: url('../img/king-red.png') no-repeat center center;
}

.king-black {
  background: url('../img/king-black.png') no-repeat center center;
}
