nav, .info, footer p{
  border-radius: 10px;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}

nav a {
  padding: 18px;
  display: block;
  float: left;
}

nav a.navleft {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.info, footer{
  margin: 0 auto;
}

.info {
  width: 450px;
  padding: 18px;
}

.info *:first-child, footer p {
  margin-top: 0px;
}

.info *:last-child, footer p {
  margin-bottom: 0px;
}

footer {
  display: table;
}

footer p{
  padding: 10px 40px;
}

i.heart {
  display: inline-block;
  vertical-align: -16.25%;
  margin: 0 2px;
}
