nav, .info {
background-color: #DAE3F1;
}

nav a, .info {
  color: #415A89;
}

nav a:hover, footer p{
  background-color: #415A89;
  color: #fff;
}

header, section#instructions, footer {
  text-align: center;
}

h1, h2{
  font-family: 'Eczar', serif;
}

h3, p, a{
  font-family: 'Gentium Basic', serif;
}

h1, h2, h3, footer p a {
  font-weight: 800;
}

h1.title {
  color: #415A89;
  font-size: 36px;
}

h2.subtitle {
  color: #5B759D;
  font-size: 24px;
}

h3 {
  font-size: 20px;
  text-decoration: underline;
}

i.heart {
  font-size: inherit;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

footer p a:link {
  color: #FFEAC4;
}

footer p a:visited {
  color: #FFE0A8;
}

footer p a:hover {
  color: #FFF;
}

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}
